<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SidurAboda">
        <activity
            android:name=".screens.AddLessonActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UpDateActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ImStudentActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".screens.TestsListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.InfoCarActivity"
            android:exported="false" />
        <activity
            android:name=".screens.RegisterTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".screens.StudentsListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SidurYomAbodaActivity"
            android:exported="false" />
    </application>

</manifest>